<div id="wrapper">
    <%- include('user/show', {}); %>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <%- %>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>